
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.eslintcache
frontend/.pnp
frontend/.pnp.js
.vscode/
.idea/
*.sublime-workspace
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/build/
backflask/__pycache__/
backflask/*.py[cod]
backflask/env/
backflask/venv/
backflask/env.bak/
backflask/venv.bak/
backflask/.Python
*.py[cod]
*.egg-info/
.installed.cfg
*.egg
*.whl
.pytest_cache/
.env
.env.*
instance/
.webassets-cache
.mypy_cache/
.dmypy.json
dmypy.json
.vscode/
history/
workspaceStorage/
.DS_Store
*.log
*.sqlite3